body {
  background-image: url("./style_images/fonas_raudonas smulkus.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-dark {

  background-color: #d1847b;
}
#drop-custom {

 /* background-color: #512DA8 */
  background-color: #d1847b;
  
  border: none;
  font-weight: bold;
 
}
#drop-custom:hover {
  /* background-color: #3c227a;*/
  background-color: #8a5b56;

}
.arrow {
  font-size: 100px;
  opacity: 0.4;
  transition: 1s;
  z-index: 9999;
}
.active{
  opacity: 1;
}
.active:hover{
  opacity: 0.7;
  font-size: 115px;
}
@media only screen and (max-width: 425px) {
  .arrow {
    font-size: 55px;
  }
  .active:hover{
    font-size: 45;
  }
}
.image-row {
  background-image: url("./style_images/fonas_pagrindinis.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  background-color: #555;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  height: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  z-index: 99999;
  border-radius: 4px;
  position: relative;
}
.image-row::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	border-radius: 10px !important;
	background-color: #F5F5F5 !important;
  z-index: 99999 !important;
  
}

.image-row::-webkit-scrollbar
{
	width: 2px !important;
	background-color: transparent !important;
  z-index: 999999 !important;
  
  
}

.image-row::-webkit-scrollbar-thumb
{
 
	border-radius: 10px !important;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #d1847b !important;
  z-index: 100 !important;
  
}
#canvas-container::-webkit-scrollbar {
  display: none !important;
}
.images {
  
  position: relative;
  display: inline-block;
  height: 95%;
  min-width: 100px;
  z-index: 99999;
}
.images img {
  vertical-align: bottom;
}
.folders {
  color: white;
  cursor: pointer;
}
.folders:hover {
  color: #d1847b;
}
.images span{
  
  text-align: center;
  
  display:block;
  letter-spacing:0px;
}
.tool-btn {
  background-color: #d1847b; 
  border: none; /* Remove borders */
  color: white; /* White text */
  height: 100%;
  width: 100%;
  z-index: 99999999;
  position: relative;
  font-size: 22px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.tool-btn:hover {
  background-color: #8a5b56;
}

#canvas-container {
  width: 100%;
  min-height: 200px;
  background-color: #a0635c;
  position: relative;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.canvas-img {
  height: 100%;
  width: 100%;
  position: sticky;
  pointer-events: none;
  user-select: none;

}
.footer{
  background-color: #d1847b;
  margin:0px auto;
  margin-top: 20px;
  padding: 20px 0px 20px 0px;
  z-index: 9999999999;
}
/* used for buttons */
.unstyled {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 999999999;

}
.draggable{
  position: absolute;
  z-index: 999999;
  touch-action: none;
  user-select: none;
  border: none;
  background: transparent;
}
.selected {
  border: 3px dotted black;
  border-radius: 1px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
.close {
  border: none;
  background-color: transparent;
}
.rotation-handle {
  padding: 3px 4px;
  display: table;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -35px;
  background-color: #d1847b;
  border-radius: 10rem;
  line-height: 1;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  cursor: move;
}
.inputText {
  width: 100%;
  min-width: 40px;
  height: 100%;
  border: none;
  background-color: transparent;
  overflow: visible;
  
}
.inputText:empty {
  background-color: #d1847b;
}
.txt {
  height: fit-content !important;
  width: fit-content !important;
}
.spinner {
  color:#d1847b;
}

.resizable {
  touch-action: none;
  user-select: none;
}
